<h2><%= @course.name %>の履修管理</h2>

<table class="table">
  <thead>
    <tr>
      <th>履修対象</th>
      <th>名前</th>
      <th>電話番号</th>
      <th>性別</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= "✔" if student.assign? %></td>
        <td><%= student.name %></td>
        <td><%= student.phone_number %></td>
        <td><%= student.gender.name %></td>
        <td>
          <% unless student.assign? %>
            <%= link_to "履修する", course_assign_student_path(@course, student), method: :put, class: "btn btn-sm btn-primary" %>
          <% else %>
            <%= link_to "キャンセル", course_assign_student_path(@course, student), method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>