<h2>生徒一覧</h2>

<p><%= link_to("新規作成", new_student_path, { class: "btn btn-primary"}) %></p>

<table class="table">
  <thead>
    <tr>
      <td>生徒ID</td>
      <td>名前</td>
      <td>電話番号</td>
      <td>性別</td>
      <td>アクション</td>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.phone_number %></td>
        <td><%= student.gender.name %></td>
        <td>
          <%= link_to("詳細", student_path(student), { class: "btn btn-default"}) %>
          <%= link_to("編集", edit_student_path(student), { class: "btn btn-success"}) %>
          <%= link_to("削除", student_path(student), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>