<h2>クラス一覧</h2>

<p><%= link_to "新規作成", new_course_path, {class: "btn btn-primary"} %></p>

<% @courses.each do |course| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="bi bi-music-player-fill"></i>
        <%= course.display_name %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tr>
              <th>講師</th>
              <td><%= course.teacher.name %></td>
            </tr>
            <tr>
              <th>難易度</th>
              <td><%= course.level.name %></td>
            </tr>
            <tr>
              <th>分類</th>
              <td><%= course.display_genres %></td>
            </tr>
          </table>
          <hr>
          <h4>科目一覧</h4>
        </div>
        <div class="col-sm-6">
          <h4>生徒一覧</h4>
        </div>
      </div>
      <div class="col-sm-12 row text-right">
        <%= link_to "詳細", course_path(course), {class: "btn btn-default"} %>
        <%= link_to "編集", edit_course_path(course), {class: "btn btn-success"} %>
        <%= link_to "削除", course_path(course), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>