<!DOCTYPE html>
<html>
  <head>
    <title>CourseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">履修管理システム</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <%= navlink "クラス管理", courses_path, :courses, [:index, :show, :new, :edit] %>
              <%= navlink "講師管理", teachers_path, :teachers, [:index, :show, :new, :edit] %>
            </ul>
          </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
